<div class="container" *ngIf="model; else notFound">
  <div class="col-md-6" [hidden]="true" >
    <div class="mt-3">
      <label for="userId" class="form-label">User Id</label>
      <input
        type="text"
        disabled
        id="userId"
        name="userId"
        class="form-control"
        placeholder="{{ model.userId }}"
      />
    </div>
  </div>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="mt-3">
        <label for="userInfoName" class="form-label">Name</label>
        <input
          type="text"
          id="userInfoName"
          class="form-control required"
          name="userInfoName"
          placeholder="{{model.userName}}"
          [(ngModel)]="model.userName"
          #nameInput="ngModel"
          required

        />{{model.userName}}
      </div>
    </div>

    <div class="col-md-6">
      <div class="mt-3">
        <label for="userInfoEmail" class="form-label">Email</label>
        <input
          type="email"
          id="userInfoEmail"
          class="form-control required"
          name="userInfoEmail"
          placeholder="{{model.userEmail}}"
          [(ngModel)]="model.userEmail"
          #emailInput="ngModel"
          required
        />{{model.userEmail}}
        <div *ngIf="formSubmitted && emailInput.invalid" class="text-danger">
          Please enter a valid email address
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mt-3">
        <label for="userInfoNewPassword" class="form-label">New Password</label>
        <input
          type="password"
          id="userInfoNewPassword"
          class="form-control required"
          name="userInfoNewPassword"
          placeholder="{{model.userPassword}}"
          [(ngModel)]="newPassword"
          #newPasswordInput="ngModel"
          required
        />{{model.userPassword}}
        <div *ngIf="formSubmitted && newPasswordInput.invalid" class="text-danger">
          Please enter a valid new password
        </div>
      </div>
    </div>

    <div class="mt-2">
      <button type="button" class="btn btn-primary" (click)="onChangeInfo()">Bilgileri değiştir</button>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="alert alert-warning mt-3" role="alert">User not found</div>
</ng-template>
