<div class="container">
    <ng-container *ngIf="userModel; else notFound">
      <div class="col-md-6">
        <div class="mt-3" [hidden]="false">
          <label for="userId" class="form-label">User ID</label>
          <input
            type="text"
            disabled
            id="userId"
            name="userId"
            class="form-control"
            placeholder="{{ userModel.userId }}"
          />
        </div>
      </div>
  
      <form #form="ngForm" (ngSubmit)="onChangeInfo()" class="row g-3">
        <div class="col-md-6">
          <div class="mt-3">
            <label for="userName" class="form-label">Username</label>
            <input
              type="text"
              id="userName"
              class="form-control required"
              name="userName"
              placeholder="{{ userModel.userName }}"
              [(ngModel)]="userModel.userName"
              #nameInput="ngModel"
              [disabled]="!isEditMode"
            />
            <div *ngIf="formSubmitted && nameInput.invalid" class="text-danger">
              Enter a valid username
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="mt-3">
            <label for="userEmail" class="form-label">Email</label>
            <input
              type="text"
              id="userEmail"
              class="form-control required"
              name="userEmail"
              placeholder="{{ userModel.userEmail }}"
              [(ngModel)]="userModel.userEmail"
              #emailInput="ngModel"
              [disabled]="!isEditMode"
            />
            <div *ngIf="formSubmitted && emailInput.invalid" class="text-danger">
              Enter a valid email address
            </div>
          </div>
        </div>
  
        <div class="mt-3 d-flex">
          <button type="button" class="btn btn-primary" (click)="toggleEditMode()">
            {{ isEditMode ? 'Cancel' : 'Edit' }}
          </button>
          <button type="submit" class="btn btn-success ms-3" [disabled]="!isValidForm()">
            Save Changes
          </button>
          <button type="button" class="btn btn-danger ms-3" (click)="onDelete()">
            Delete User
          </button>
        </div>
      </form>
    </ng-container>
  
    <ng-template #notFound>
      <div class="alert alert-warning mt-3" role="alert">User not found</div>
    </ng-template>
  </div>
  